<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test thread-count="2" name="Test1" parallel="methods">
  <parameter name="browser" value="chrome">
  </parameter>
    <classes>
      <class name="TestScripts.Test_ActiTimeLogin"/>
        </classes>
        </test>
        
      <test thread-count="2" name="Test2" parallel="methods">  
      <parameter name="browser" value="firefox" >
  	</parameter>
  	 <classes>
      <class name="TestScripts.Test_ActiTimeCheckTitle"/>
  </classes>
        
  </test> 
  <!-- Test -->
</suite> <!-- Suite -->
